*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #101652;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}

.flexbox-itens{
    background-color: #dc6378;
    border: 4px solid #207178;
    width: 200px;
    margin: 20px;


}

.box1{
    min-height: 100px;
    
}

.box2{
    min-height: 200px;
    
}

.box3{
    min-height: 300px;
}   