*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    background-color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-collapse: collapse;
    
}
th{
    border: 1px solid #000000;
    width: 400px;
    height: 50px;
    background-color: #752e2b;
    text-align: center;
    color: #f2eab7;
    border-radius: 5px;
}
td{
    border: 1px solid #000000;
    width: 200px;
    height: 50px;
    text-align: center;
}
#row2{
    background-color: #752e2b;
    color: #f2eab7;
}

#row{
    background-color: #090f13;
    color: #f2eab7;
}
#col{
    background-color: #090f13;
    color: white;
}
#row:hover{
    background-color: black;
    font-weight: bold;
}
#col:hover{
    background-color: black;
    color: #f2eab7;
    font-weight: bold;
}
#normal{
    background-color: #f2eab7;
    color: black;
    padding-right: 10px;
    border-radius: 5px;
}
#nomes{
    background-color: #171f25;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#container{
    overflow-x: auto;

}
p{
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
    background-image: linear-gradient(45deg,#752e2b, #171f25);
    color: #f2eab7;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}
caption{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

}